# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
*.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints

# dotenv
.env
.env.*

# coverage
.coverage
htmlcov/
.tox/
.nox/

# Logs
*.log

# Docker
*.pid
*.db
*.sqlite3

# System files
.DS_Store
Thumbs.db
